MODELO PAGINA CSS

#imagem { width: 100%;}
#imagem2{ width:50%;}
#imagem4{ width:50%;}
#imagem3{ width:50%;}
#imagem5{ width:50%;}
#imagem6{ width:50%;}
#imagem7{ width:50%;}
#imagem8{ width:50%;}
#imagem9{ width:50%;}
body {
    background: #CCCCCC;
    padding: 30px;}
h1 {font-size:55px; text-align: center;color:blue}

p {font-size:30px;text-align:left}

.itens{font-size:35px}
